# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Virtual Environments
# =========================
.env
.venv
env/
venv/
conda-meta/

# =========================
# Packaging / Distribution
# =========================
build/
dist/
*.egg-info/
pip-wheel-metadata/

# =========================
# Testing / Coverage
# =========================
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# CUDA / GPU
# =========================
*.ptx
*.cubin
*.fatbin

