# Python
__pycache__/
*.py[cod]
*$py.class

# Conda
.env
.venv
env/
venv/
conda-meta/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# CUDA build artifacts
*.ptx
*.cubin

